<!-- Basic App -->
<!DOCTYPE html>
<html>
    <body>

        <h1>Timebox</h1>
        <p>What are you doing?</p>
        <p>New Action</p>

        <form method="POST", action="{{ url_for('result') }}">
            <input name="text">
            <input type="submit">
            
        </form>
        &nbsp;
        <table border = 1>
            {% for activity, count in result %}
                <tr>
                    <td> {{ count }} </td>
                    <td>
                        <form action="{{ url_for('result') }}", method="POST">
                            <button type="submit", name="your_name", value="{{activity}}", class="btn-link">{{activity}}</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <h3>Daily Journal</h3>
        <!-- This text box should autosave and submit at 12 AM -->
        <textarea name="journalEntry" rows="10" cols="30"></textarea>
                
    </body>

    

        
    
</html>
